body {
  margin: 0;
  padding: 0;
  background: white;
}
 
h1 {
	text-align: center;
}
 
.nav ul {
  list-style: none;
  background-color: rgb(38,38,42);
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .25s background-color;
}
 
.nav a:hover {
  background-color: #5ef9ff;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
  
  #footer{
	  background-color: rgb(38,38,42);
	  color: rgba(255,255,255,4);
	  display: block;
	  font-family: proxima-nova;
	  font-size: 16px;
	  font-style: normal;
	  font-weight: normal;
	  letter-spacing: normal;
	  line-height: 28.8px;
	  text-size-adjust: 100%;
  }
  
  a{
	  text-decoration: none;
	  color: #5ef9ff;
	  transition: .25s text-decoration;
  }
  
  a:hover {
	  text-decoration: underline;
  }